<% if(typeof message !== 'undefined') { %>
    <div class="alert alert-<%= message.type %> alert-dismissible fade show py-2 mb-2" role="alert">
        <strong><%= message.intro %></strong> <%= message.message %>
        <button type="button" class="close py-2" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>