<%- include('../partials/alert.ejs') %>

<div id="variation_column" class="col-md-5">
    <label for="price" class="font-weight-bold m-0">Variations</label>
    <div id="variation_row" class="row">
        <div class="col">
            <div class="form-row">
                <div class="form-group col-9">
                    <select class="form-control variation" name="variation" multiple="multiple" style="width: 100%" aria-label>
                        <option>orange</option>
                        <option>white</option>
                        <option>purple</option>
                    </select>
                </div>
                <div class="form-group col-3">
                    <input type="number" name="price" class="form-control crud_form" placeholder="Price *" aria-label required>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" id="add_variation" class="btn-sm btn-outline-info float-right mt-2">Add Variation</button>
        </div>
    </div>
</div>